<?xml version="1.0" encoding="utf-8" ?>
<!-- Tridion: Tridion home directory -->
<!-- basePath: Local folder to check for content before retrieving remote content -->
<!-- mode: Prefix for the tridion configuration files to load -->
<tcmdevelopment tridion="D:\Workspace\Code\Tridion" basePath="D:\Workspace\Code\Tridion\www" mode="staging">
	<!-- Development Mappings -->
	<path mode="development" virtual="~/de" location="\\development\tridion\de" />
	<path mode="development" virtual="~/nl" location="\\development\tridion\nl" />

	<!-- Staging Mappings -->
	<path mode="staging" virtual="~/de" location="\\staging\tridion\de" />
	<path mode="staging" virtual="~/english" location="\\staging\tridion\global" />
	<path mode="staging" virtual="~/nl" location="\\staging\tridion\nl" />
</tcmdevelopment>